services:
  app:
    build: .
    working_dir: /app
    environment:
      LANG: C.UTF-8
    user: "${USER_ID}:${GROUP_ID}"
    volumes:
      - ./input:/app/input:ro
      - ./output:/app/output
      - ./scripts/in_docker:/app/scripts:ro
      - ./bin:/app/bin:ro
      - ./data:/app/data:ro
      - /etc/group:/etc/group:ro
    cap_drop:
      - ALL
